
<div class="VerticalBox">

    <div class="HorizontalBox">
        
        <div style="padding-right: 4px;">
            <h3>Insert your numbers here</h3>
            <div>
            <textarea id="1" rows="30" cols="53" [(ngModel)]="numberArray">
            </textarea>
            </div>
        </div>  
        
        <div class="VerticalBox">
            <button class="btn btn-primary" type="button" (click)="sortRequest()">
            <div style="font-size:20px;">
                Sort
            </div>
            
            </button>
            <div [ngStyle]="{'visibility' : sortWaitIndicatorVisibility ? 'visible' : 'hidden'}" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                <div class="spinner-grow text-secondary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-success" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        
        
        <div style="padding-left: 4px;">
            <h3>Sorted Array Result</h3>
            <div>
                <textarea rows="30" cols="53" [(ngModel)]="sortedNumberArray"></textarea> 
            </div>
        </div>
        
    </div>
</div>

