<div class="VerticalBox">
    <div class="HorizontalBox">
        <button class="btn btn-primary" type="button" (click)="fetchHistoryRequest()">
            <div style="font-size:20px;">
                Fetch Sort History
            </div>
        </button>
        <div [ngStyle]="{'visibility' : fetchWaitIndicatorVisibility ? 'visible' : 'hidden'}" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
            <div class="spinner-grow text-secondary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
        <table class="table">
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Original
                </th>
                <th>
                    Sorted
                </th>
            </tr>
            <tr *ngFor="let x of sortHistoryList">
            
            <td>{{ x.id }}</td>
            <td>
                <span class="WrapText">{{ x.original }}</span>
                <button class="btn btn-primary" type="button" ngxClipboard [cbContent]="x.original">Copy</button>
            </td>
            <td>
                <span class="WrapText">{{ x.sorted }}</span>
                <button class="btn btn-primary" type="button" ngxClipboard [cbContent]="x.sorted">Copy</button>
            </td>
        
            </tr>
        </table> 
    
</div>