.VerticalBox {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.HorizontalBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.WrapText {
    display:inline-block;
    width:180px;
    white-space:nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}


body {
    margin: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #0062cc;
    padding: 1em 0;
    color: white;
    font-size: 22px;
   
}

nav {
    float: right;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    display: flex;
}

nav > ul > li > a {
    padding: 1em;
}

nav > ul > li > a:hover {
    background:#005abb
}


a {
    color: white;
    text-decoration: none;
}

a.logo {
    font-weight: bold;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
}

