<header>
  <div class="container">
    <a href="#" routerLink="/" class="logo">SortApp</a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/">Sort</a></li>
        <li><a href="#" routerLink="/history">History</a></li>
      </ul>
    </nav>
  </div>
</header>


<div class="container">
    <router-outlet></router-outlet>
</div>
